@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    background-color: #1E1E1E;
    font-family: "Poppins";
    color: #fff;
    height: 100vh;
}
.wrapper {
}

/* ------------------------------------------------ */

.header {
    width: 100%;
    height: 166px;
}
.header__logo {
    height: 100%;
    font-size: 5px;
}
.header__logo img {
    max-width: 69px;
    min-height: 50px;
    margin-top: 7px;
    margin-left: 3px;
}
.header__logo span {
    display: block;
    font-weight: 400;
    font-size: 69px;
    line-height: 0.69;
    margin-left: 64px;
}
.page {
}

/* ------------------------------------------------ */

.search-box {
    width: 100%;
    height: 100%;
    max-width: 711px;
    aspect-ratio: 711 / 66;
    margin: auto;
    display: flex;
    margin-bottom: 53px;
}
.search-box__input {
    height: 100%;
    width: calc(100% - 106px);
    background-color: #d9d9d9;
    border-radius: 25px 0 0 25px;
    padding-inline: 40px;

    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #524e4e;
}
.search-box__btn {
    height: 100%;
    width: 105px;
    background-color: #d9d9d9;
    border-radius: 0 25px 25px 0;
    background-image: url(img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* ------------------------------------------------ */

.container {
    max-width: 1440px;
    display: none; /*flex*/
    justify-content: center;
    margin-inline: auto;
}
.today {
    width: 100%;
    display: grid;
    justify-items: center;
}
.today__main-wrap {
    width: 100%;
    max-width: 817px;
    aspect-ratio: 817 / 425;
}
.today__main {
    height: 100%;
    background: linear-gradient(-40deg, #0f1e79 0%, #af4bbb 40%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(255, 250, 250, 0.25), 0 4px 4px 0 rgba(253, 245, 245, 0.25);
    border-radius: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.today__city {
    font-weight: 300;
    font-size: 30px;
    padding: 35px 0 0 28px;
}
.today__city::after {
    content: url(img/location-icon.svg);
    position: relative;
    left: 3px;
}
.today__date {
    grid-column: 1;
    grid-row: 2;
    align-self: self-end;
    margin-bottom: 11px;
    padding-left: 28px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
}
.main-today__temp {
    grid-column: 2;
    grid-row: 2;
    place-self: center;
    font-weight: 300;
    font-size: 70px;
}
.main-today__temp::before {
    content: url(img/temp-icon.svg);
    position: relative;
    top: 10px;
    right: 25px;
}
.main-today__temp::after {
    content: "\00B0 C";
}
.main-today__icon-wrap {
    max-width: 136px;
    aspect-ratio: 1;
    position: relative;
    grid-column: 3;
    grid-row: 2;
    align-self: center;
}
.main-today__icon {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: -50px;
}
.today__info {
    grid-column: 1 / -1;
    grid-row: 3;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: end;

    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 4px;
}
.today__humidity {
}
.humidity {
}
.humidity__title {
    text-transform: uppercase;
}
.humidity__value {
    font-size: 22px;
}
.humidity__value::after {
    content: " %";
}
.today__visibility {
}
.visibility {
}
.visibility__title {
    text-transform: uppercase;
}
.visibility__value {
    font-size: 22px;
}
.visibility__value::after {
    content: " km";
}
.today__pressure {
}
.pressure {
}
.pressure__title {
    text-transform: uppercase;
}
.pressure__value {
    font-size: 22px;
}
.pressure__value::after {
    content: " mmHg";
}
.today__wind {
}
.wind {
}
.wind__title {
    text-transform: uppercase;
}
.wind__value {
    font-size: 22px;
}
.wind__value::after {
    content: " m/s";
}

/* ------------------------------------------------ */

.today__hourly {
    width: 100%;
    padding-block: 50px 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-around;
    justify-items: center;
}
.hourly {
}
.hourly__card {
    width: 121px;
    height: 131px;
    border-radius: 25px;
    background: linear-gradient(180deg, #b83ad6 25%, #e17bff 50%, rgba(217, 217, 217, 0) 100%);
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    justify-items: center;
    align-items: center;
}
.hourly__card::after {
    content: "";
    border-radius: 25px;
    width: 121px;
    height: 72px;
    backdrop-filter: blur(9px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(128deg, #672fb6 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}
.hourly__time {
    padding-top: 10px;
    font-weight: 500;
    font-size: 17px;
}
.hourly__icon {
    min-height: 100%;
    z-index: 99;
}
.hourly__temp {
    padding-bottom: 4px;
    font-weight: 300;
    font-size: 21px;
    z-index: 99;
}
.hourly__temp::after {
    content: "\00B0 C";
}