@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
:root {
    --background: #eceef2;
    --element: #fff;
    --font: #000;
    --font-white: #fff;
}
body {
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
    max-height: 100vh;
}

/* ------------------------------------------------ */

.header {
    width: 100%;
    background-color: var(--element);
    color: var(--font);
    border-bottom: 2px solid #d9dbdf;
    margin-bottom: clamp(7px, 1%, 14px);
}
.header__container {
    max-width: 1440px;
    max-height: 166px;
    aspect-ratio: 1440 / 85;
    margin: 0 auto;
    padding-inline: clamp(10px, 1.4vw, 20px);
    display: flex;
    gap: clamp(15px, 1.7vw, 25px);
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    gap: clamp(5px, 4.5%, 10px);
    flex-basis: fit-content;
}
.header__logo img {
    width: clamp(10px, 2.4vw, 35px);
}
.header__logo h1 {
    display: inline-block;
    font-weight: 600;
    font-size: clamp(18px, 2.4vw, 35px);
    line-height: normal;
    letter-spacing: -0.03em;
}
:root {
    --swiper-navigation-size: auto;
}
.header__swiper-buttons {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-self: center;
    flex-basis: 23%;
}
.header__swiper-button {
    display: inline-block;
    position: relative;
}
.swiper-button {
    width: 100%;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: inherit;
    font-size: clamp(16px, 1.74vw, 25px);
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-disabled {
    font-weight: 700;
}
.swiper-button-disabled {
    border-bottom: 3px solid #695d5d;
}
:is(.swiper-button-prev, .swiper-button-next)::after {
    content: "";
}
:is(.swiper-button-prev, .swiper-button-next).swiper-button-disabled {
    opacity: 1;
}
.search-box {
    width: clamp(100px, 25vw, 355px);
    aspect-ratio: 355 / 53;
    flex-basis: auto;
    display: flex;
    box-sizing: content-box;
    /* margin-right: 42vw; */
}
.search-box__input {
    height: 100%;
    width: calc(100% - 15%);
    background-color: #d9d9d9;
    border-radius: clamp(3px, 0.42vw, 6px) 0 0 clamp(3px, 0.42vw, 6px);
    padding: 0 2% 0 4.8%;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size:  clamp(12px, 1.7vw, 20px);
    color: #524e4e;
}
.search-box__btn {
    height: 100%;
    width: 15%;
    background-color: #d9d9d9;
    border-radius: 0 clamp(3px, 0.42vw, 6px) clamp(3px, 0.42vw, 6px) 0;
    background-image: url(img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
}

/* ------------------------------------------------ */

.page__container {
    max-width: 1440px;
    display: none; /*flex*/
    justify-content: center;
    margin-inline: auto;
}
.today {
    width: clamp(100px, 100vw, 1023px);
    margin: 0 auto;
    padding-inline: clamp(10px, 1.4vw, 20px);
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: center;
    justify-items: center;
}
.today__main-wrap {
    width: calc(100% - 10px);
    margin-right: 10px;
    border-radius: clamp(6px, 0.83vw, 12px);
    overflow: hidden;
}
.today__main {
    height: 100%;
    width: 100%;
    background-color: #438ceb;
    color: var(--font-white);
    padding: 4.7% 5.9%;
    display: flex;
    flex-direction: column;
}
/* .today__city {
} */
.city {
    font-weight: 500;
    font-size: clamp(16px, 1.95vw, 20px);
}
.main-today__temp-wrap {
    display: flex;
    align-items: center;
}
.main-today__temp {
    display: inline-block;
    font-weight: 500;
    font-size: clamp(40px, 5.38vw, 55px);
}
.main-today__temp::after {
    content: "\00B0";
}
.main-today__icon {
    max-width: clamp(74px, 9vw, 92px);
    aspect-ratio: 1;
    object-fit: cover;
}
.today__info {
    display: flex;
    gap: 17px;
    text-align: center;
    font-weight: 400;
    font-size: clamp(14px, 1.76vw, 18px);
    line-height: 1.6;
    margin-bottom: clamp(10px, 2.3vw, 25px);
}
.today__humidity {
    display: grid;
    grid-auto-flow: column;
    gap: 7px;
    align-items: center;
}
.humidity__icon {
    width: 1.3em;
}
.humidity__value::after {
    content: "%";
}
.today__pressure {
    display: grid;
    grid-auto-flow: column;
    gap: 7px;
    align-items: center;
}
.pressure__icon {
    width: 1.3em;
}
.pressure__value::after {
    content: " mmHg";
}
.today__wind {
    display: grid;
    grid-auto-flow: column;
    gap: 7px;
    align-items: center;
}
.wind__icon {
    width: 1.3em;
}
.wind__value::after {
    content: " m/s";
}
.map {
    border: 1px solid #aaa;
    background-color: #ddd;
    width: 100%;
    border-radius: clamp(6px, 0.83vw, 12px);
    overflow: hidden;
    display: grid;
    place-items: center;
}
.map__image {
    width: 100%;
    height: 100%;
}
.map__loader {
    border: 5px solid #e3e3e3;
    border-radius: 50%;
    border-top: 4px solid #438ceb;
    height: 30%;
    aspect-ratio: 1;
    animation: spin 2s linear infinite;
    display: none; /* block */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .today {
        grid-template-columns: 100vw;
    }
    .today__main-wrap {
        position: relative;
        top: -2.5vw;
        width: 100%;
        border-radius: clamp(15px, 3.25vw, 25px);
        /* max-width: 476px; */
        margin-right: 0;
        grid-row: 2;
    }
    .map {
        width: 100vw;
        aspect-ratio: 550 / 142;
        border-radius: clamp(15px, 2.6vw, 20px) clamp(15px, 2.6vw, 20px) 0 0;
    }
}

.today__hourly {
    width: 100%;
    display: flex;
    overflow: scroll;
    padding-top: clamp(10px, 3vw, 30px);
    border-top: 1px solid rgba(255, 255, 255, .3);
}
.today__hourly::-webkit-scrollbar {
    display: none;
  }
.hourly__card {
    width: clamp(10px, 7.4vw, 76px);
    aspect-ratio: 54 / 64;
    padding-inline: clamp(4px, 1vw, 10px);
    display: flex;
    flex-direction: column;
}
.card {
    /* width: 100%; */
    background-color: transparent;
    position: relative;
    justify-items: center;
    align-items: center;
}
.hourly__time {
    font-weight: 300;
    font-size: clamp(10px, 1.5vw, 15px);
}
.hourly__icon {
    width: 83%;
    aspect-ratio: 1;
    z-index: 99;
}
.hourly__temp {
    font-weight: 500;
    font-size: clamp(10px, 1.76vw, 18px);
    z-index: 99;
}
.hourly__temp::after {
    content: "\00B0 C";
}

/* ------------------------------------------------ */

.week {
    max-width: 100%;
    padding-block: 0 30px;
    display: grid;
    grid-template-columns: min-content repeat(5, 1fr);
    grid-template-rows: repeat(2, min-content);
    justify-content: space-around;
    justify-items: center;
    gap: 10px;
    row-gap: 20px;
}
.week__city {
    grid-column: 2 / -1;
    justify-self: start;
    padding: 25px 0 0 0;
}
.week__info {
    width: 64px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1;
    text-align: right;
}
.week__card {
    width: 100%;
    aspect-ratio: 121 / 131;
    border-radius: 35px;
    display: grid;
    grid-template-rows: repeat(7, calc(100% / 7));
    grid-template-columns: repeat(4, 1fr);
}
.week__date {
    grid-column: 1 / -1;
    font-size: 20px;
    padding-block: 5px;
}
.week__time {
    z-index: 99;
}
.week__icon {
    max-width: 66px;
    z-index: 99;
}
.week__temp {
    z-index: 99;
}
.week__pressure {
    z-index: 99;
}
.week__wind {
    z-index: 99;
}
.week__humidity {
    z-index: 99;
}
